USE [master]
GO
/****** Object:  Database [project]    Script Date: 5/10/2026 4:36:11 PM ******/
CREATE DATABASE [project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/10/2026 4:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[cat_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/10/2026 4:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[meal_id] [int] NOT NULL,
	[meal_name] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[cat_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[meal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/10/2026 4:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[total_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sold_Items]    Script Date: 5/10/2026 4:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sold_Items](
	[UniqueID] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[meal_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[item_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([id], [cat_name]) VALUES (1, N'Main Meals')
INSERT [dbo].[Category] ([id], [cat_name]) VALUES (9, N'Breakfast')
INSERT [dbo].[Category] ([id], [cat_name]) VALUES (10, N'Oriental Breakfast')
GO
INSERT [dbo].[Menu] ([meal_id], [meal_name], [price], [cat_id]) VALUES (2, N'Pizza', CAST(150.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Menu] ([meal_id], [meal_name], [price], [cat_id]) VALUES (3, N'chicken ranch', CAST(200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Menu] ([meal_id], [meal_name], [price], [cat_id]) VALUES (4, N'Beef Stroganoff', CAST(350.00 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Date], [total_price]) VALUES (1, CAST(N'2026-04-25T17:48:25.140' AS DateTime), CAST(120.50 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([ID], [Date], [total_price]) VALUES (3, CAST(N'2026-05-02T23:20:11.440' AS DateTime), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([ID], [Date], [total_price]) VALUES (8, CAST(N'2026-05-02T23:46:31.360' AS DateTime), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Sold_Items] ON 

INSERT [dbo].[Sold_Items] ([UniqueID], [order_id], [meal_id], [quantity], [item_price]) VALUES (1, 1, 10, 1, CAST(120.50 AS Decimal(10, 2)))
INSERT [dbo].[Sold_Items] ([UniqueID], [order_id], [meal_id], [quantity], [item_price]) VALUES (7, 8, 10, 1, CAST(120.50 AS Decimal(10, 2)))
INSERT [dbo].[Sold_Items] ([UniqueID], [order_id], [meal_id], [quantity], [item_price]) VALUES (8, 8, 10, 1, CAST(120.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sold_Items] OFF
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Sold_Items]  WITH CHECK ADD FOREIGN KEY([meal_id])
REFERENCES [dbo].[Menu] ([meal_id])
GO
ALTER TABLE [dbo].[Sold_Items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([ID])
GO
USE [master]
GO
